.hero-section {
    position: relative;
    block-size: 100vh;
    background-image: url('/public/Church.jpg'); /* Place image in public/images/ or use an online link */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* 75% black overlay */
    z-index: 1;
    text-align: center;
    color: white;
  
}

.hero-overlay h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    font-weight: 800;
    margin-block-start: 20rem;
}

.hero-overlay h2 {
    margin-inline-end: 430px;
    font-family: 'roboto', sans-serif;
    text-align: end;
    margin-block-start: -130px;
    font-size: 75px;
    font-weight: 500;
}
